:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --secondary-text-color: #3bb9f0;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color);
  background: var(--body-bg-color);
  display: flex;
  flex-direction: row;
  font-family: "Merriweather Sans", sans-serif;
}

aside {
  flex-basis: 25%;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

div.perfil {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-cards);
  border-radius: 5px;
  padding: 10px 0 10px 0;
}

div.perfil img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid var(--secondary-text-color);
}

div.perfil h1 {
  font-size: 1.43em;
  font-weight: 700;
  color: var(--secondary-text-color);
  margin-bottom: 0;
}

div.perfil p {
  font-size: 0.812em;
  color: var(--secondary-text-color);
  font-weight: 300;
  margin-top: 10px;
}

main {
  flex-basis: auto;
}
